install/
dist/
build*/
.vs/
package/
cmake-build*/
*.egg-info
*.pyd
cerebus/cbpy.cp*
*.whl
.idea/
out/
CMakeSettings.json

.gitattributes
*.*~
*.obj/
*.dir/
*.user
*.old
*.ncb
*.suo
*.aps
*.DS_Store
*.pyc
*.orig
*.kdev4
UpgradeLog.XML
_UpgradeReport_Files/

/Matlab
linux32/
linux64/
win64/
win32/
x64/
Win32/
Debug/
Release/
.settings/
.metadata/

cerebus/cbpy.so
cerebus/cbpy.cpp
cerebus/cbpyw.cpp
cerebus/*.dll

cmake-build*/